#favorite-things{
    display: none;
}

span{
    color: blue;
    font-weight: bolder;

}

body{
    background-color: darksalmon;
    padding: 10px;
    margin: 10px;
}

h1{
    text-align: center;
    text-decoration: double;
}

input{
    border-radius: 5px;
    
}